@font-face {
    font-family: "SF";
    src: url('../../../assert/SFUIText-Bold.otf') format('otf');
}
@media screen and (min-width:600px){
    .letMeInContainer{
        background:#e990f9;
        width: 503px;
        height:379px;
        border-radius: 44px;
    }
    .letMeInButton{
        border: solid 3px #fff;
        color: #fff;
        background: #e990f9;
    }
    .bearFace{
        content: url('../../../assert/img/bear-face-desktop.png');
    }
}
@media screen and (max-width:599px) {
    .letMeInContainer {
        background: #fff;
        width: 100%;
        height: auto;
    }
    .letMeInButton {
        border: solid 3px #e990f9;
        color: #e990f9;
        background: #fff;
    }
    .bearFace{
        content: url("../../../assert/img/bear-face-mobile.png");
    }
}
.letMeInContainer{
    margin: auto;
    font-weight:bold ;
    width: 503px;
    height: 379px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.letMeInButton{
    border-radius: 36pt;
    width: 151pt;
    height: 60pt;
    font-size:18pt;
    text-align: center;
    margin:0 auto;
}
.bearFace{
    margin:0 50%;
}