.pickerContainer{
    background: #eaeaea;
    height: 60px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
@font-face {
    font-family: "SFRegular";
    src:url("../../../assert/fonts/SFUIText-Regular.ttf")
}
@media screen and (max-width: 600px){
    .createJog{
        width: 47pt;
        height: 47pt;
        bottom: 40px;
        right: 40px;
    }
    .date{
        width: 20%;
    }
}
@media screen and (min-width: 600px){
   .createJog {
       width: 60px;
       height: 60px;
       bottom: 30pt;
       right: 30pt;
   }
    .date {
        width: 10%;
    }
}
#fieldDate{
    font-family: SFRegular;
    color:#b0b0b0;
    font-size: 14px;
    margin-right:15px ;
}
.date{
    /*width: 150px;*/
    height: 31px;
    border: solid 1px #979797;
    border-radius: 11px;
    padding: 0;
}
.createJog{
    position: fixed;
    background:none ;
    border: none;
    padding: 0;
}