@media screen and (min-width: 600px) {
    .saveButton {
        width: 320px;
        height: 42px;
    }
    .buttonContainer {
        margin-top: 44px;
    }
    .updateForm {
        margin: 118px auto 0 auto;
        width: 503px;
        height: 379px;
        border-radius: 44px;
    }
    .fieldName {
        width: 73px;
        height: 19px;
        font-size: 16px;
    }
    .first {
        padding-top: 50px;
    }
    .field {
        margin-left: 88px;
        margin-bottom: 25px;
    }
    .cancel {
        height: 27px;
        width: 27px;
    }
    .backButton {
        width: 27px;
        height: 27px;
        margin: 24px 24px 0 449px;
    }
    .input {
        width: 236px;
    }
}

@media screen and (max-width: 600px) {
    .saveButton {
        width: 77.2%;
        height: 42pt;
    }
    .buttonContainer {
        margin-top: 41pt;
    }
    .updateForm {
        margin: 20% auto 10% auto;
        max-width: 307pt;
        height: 380pt;
        border-radius: 29pt;
    }
    .fieldName {
        height: 15pt;
        width: 53.8pt;
        font-size: 13pt;
        padding-bottom: 6pt;
        padding-left: 38pt;
    }
    .first {
        padding-top: 26pt;
    }
    .field {
        display: flex;
        flex-direction: column;
        margin: 0 auto 20pt auto;
    }
    .cancel {
        height: 19pt;
        width: 18pt;
    }
    .backButton {
        width: 18pt;
        height: 19pt;
        margin: 21pt 21pt 0 85%;
    }
    .input {
        margin-left: 38pt;
        width: 236pt;
    }
}

.saveButton {
    color: #ffffff;
    background: #7ed321;
    border: solid 2px #ffffff;
    text-align: center;
    border-radius: 25.2px;
    margin: auto;
}

.buttonContainer {
    text-align: center;
}

.updateForm {
    background: #7ed321;
}

.input {
    height: 31px;
    border: solid 1pt rgb(151 151 151);
    border-radius: 7px;
}

.fieldName {
    display: inline-block;
    margin-right: 16.2px;
}

.backButton {
    border: none;
    padding: 0;
    background: #7ed321;
}