@font-face {
    font-family: "SFBold";
    src:url("../../../assert/fonts/SFUIText-Bold.ttf")
}
@font-face {
    font-family: "SFRegular";
    src:url("../../../assert/fonts/SFUIText-Regular.ttf")
}

@media screen and (min-width: 600px){
    .infoHeader{
        width: 89px;
        height: 43px;
        font-size: 36px;
    }
    .infoContainer{
        margin: 85px auto 0 auto;
        width: 614px;
    }
}
@media screen and (max-width: 600px){
    .infoHeader{
        width: 62pt;
        height: 30pt;
        font-size: 25pt;
    }
    .infoContainer{
        width: 86.6%;
        margin: 24pt auto 0 auto;
    }
}
.infoText{
    font-family: SFRegular;
}
.infoHeader {
    display: inline-block;
    color: #7ed321;
    font-family: SFBold;
}
